@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monoton', cursive;
    word-spacing: 5px;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
/*           logo                 */
.top{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}


/*      conteudo            */
.conteudo{
    width: 100%;
    min-height: 100vh;
    background: url(../imagens/mike-petrucci-c9FQyqIECds-unsplash.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.boxCard{
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card{
    max-width: 250px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(105, 105, 105, 0.7) 0%, rgba(65, 65, 65, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.9);
}
.boxCard .card ion-icon{
    font-size: 60px;
    color: #fff;
    margin: 10px;
}
.cardTitulo{
    color: #fff;
    text-align: justify;
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
}
.cardText{
    width: 90%;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
/*              sobre               */

.sobre{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background: url(../imagens/john-karlo-mendoza-idzUojjazCg-unsplash.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.textSobre{
    background: rgba(105, 105, 105, 0.7) ;
    max-width:400px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 10px 0;
    padding: 20px 0;
}
.textSobre span{
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.imgSobre{
    background-color: goldenrod;
    width:400px;
    height: 80vh;
    opacity: 0.5;
    margin-bottom: 10px;
}
.imgSobre img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}
/*              Galeria                 */
.galeria{
    width: 100%;
    min-height: 20vh;
    padding: 50px 0 ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.galeria h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
}
.gradeImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxImg {
    width: 100vmin;
    max-width: 250px;
}
.boxImg  img{
    width: 100%;
    height: 100%;
    
}



/*          localização         */
.localizacao{
    max-width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(../imagens/jason-leung-2seUdPQNy_I-unsplash.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 70px 0 ;
    color: #fff;

}
.mapText{
    
    width: 100%;
    height: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: rgba(0, 30, 85, 0.5);
    position: relative;
}
.containerLocalizacao{
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.753) ;
}
.mapText span{
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapBox{
    flex:1 1 400px;
    width: 100%;
    height: 100%;
    min-height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mapBox:hover{
    opacity: 0.9;
}
.mapBox iframe{
    position: relative;
    width: 100%;
    height:91vh;
}
form{
    width: 100%;
    max-width: 450px;
    min-height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
form input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    background: rgba(150, 150, 150, 0.363) ;
    border: none;
    border-radius: 10px;
}

.radio input{
    display: inline-block;
}
.radio label{
    
    width: 150px;
    display: inline-block;
}
.textArea{
    width: 90%;
    background: rgba(150, 150, 150, 0.363) ;
    border: none;
    border-radius: 10px;
}
.btEnviar{
    background-color: #e51e2a;
    color: #fff;
    font-size: 30px;
}
/*          Footer              */

footer{
    display: flex;
    width: 100%;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
}
.logo{
    position: absolute;
    width: 100%;
    height: 100%;

}
.contato{
    min-height: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contato h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.contato h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 20px;
}
.contato a {
    color: red;
    font-size: 40px;
}
.contato a:hover {
    color: rgb(255, 83, 83);
    
}
.contato ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    bottom: 10px;
}
.sci li{
   list-style: none;
}
.sci a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    margin: 20px;
}
.sci a:hover {
    text-shadow:  0 0 20px #e51e2a;
    transform: translateY(-10px);
}
.sci a ion-icon{
    color: #fff;
    font-size: 30px;
}
@media (max-width:999px) {
    
    .textSobre{
        width:100%;
    }
    .card{
        max-width: 150px;
    }
    .boxImg {
        width: 100vmin;
        max-width: 150px;
    }
}

