*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
/*           logo                 */
.top{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}


/*      conteudo            */
.conteudo{
    width: 100%;
    min-height: 100vh;
    background: url(../imagens/mike-petrucci-c9FQyqIECds-unsplash.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.boxHorario{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
}
.horarios ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.horarios ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    margin: 20px;
}
.horarios ul li span{
    color: rgb(255, 153, 0);
    font-size: 20px;
    margin-bottom: 20px;
}
.hora{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;    
    color: rgb(204, 204, 204);
    background: rgba(255, 145, 0, 0.637);
    box-shadow: 0 0 5px rgba(0, 0, 0,0.9);
}
.hora:hover{
    border: 3px solid rgb(255, 153, 0,5); 
    box-shadow: inset 0 0 30px rgb(255, 145, 0);
}
.boxCard{
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card{
    max-width: 250px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background: rgb(105,105,105);
    background: linear-gradient(180deg, rgba(105, 105, 105, 0.7) 0%, rgba(65, 65, 65, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.9);
}
.boxCard .card ion-icon{
    font-size: 60px;
    color: #fff;
    margin: 10px;
}
.cardTitulo{
    color: #fff;
    text-align: justify;
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.cardText{
    width: 90%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
/*              sobre               */

.sobre{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background: url(../imagens/john-karlo-mendoza-idzUojjazCg-unsplash.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.textSobre{
    background: rgba(105, 105, 105, 0.7) ;
    max-width:400px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 10px 0;
}
.textSobre span{
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: justify;
}
.imgSobre{
    background-color: goldenrod;
    width:400px;
    height: 80vh;
    opacity: 0.5;
    margin-bottom: 10px;
}
.imgSobre img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}
/*              Galeria                 */
.galeria{
    width: 100%;
    min-height: 20vh;
    padding: 50px 0 ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.galeria h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
}
.gradeImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 0;
}
.boxImg {
    width: 100vmin;
    max-width: 150px;
    
    
}
.boxImg  img{
    width: 100%;
    height: 100%;
    
}



/*          localização         */
.localizacao{
    max-width: 100%;
    min-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imagens/jason-leung-2seUdPQNy_I-unsplash.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 50px 0 ;
    flex-direction:column;

}
.mapText{
    color: #fff;
    width: 90%;
    height: 100px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: rgba(0, 30, 85, 0.5);
    position: relative;
}
.mapText span{
    width: 90%;
    height: 100px;
}
.mapBox{
    background-color: yellowgreen;
    width: 90%;
    height: 50vh;
    opacity: 0.4;
    position: relative;
}
.mapBox:hover{
    opacity: 0.9;
}
.mapBox iframe{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
   

    
}
/*          Footer              */

footer{
    display: flex;
    width: 100%;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
}
.logo{
    position: absolute;
    width: 100%;
    height: 100%;

}
.contato{
    min-height: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contato h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 2px 10px 100px white;
    font-weight: bold;
}
.contato h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}
.contato a {
    color: red;
    font-size: 40px;
    font-weight: bold;
}
.contato a:hover {
    color: rgb(255, 83, 83);
    
}
.contato ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.sci{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    bottom: 10px;
}
.sci li{
   list-style: none;
}
.sci a {
    display: inline-block;
    margin-left: 15px;
    background:#222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.sci a:hover {
    background: #e51e2a;
    transform: translateY(-10px);
}
.sci a ion-icon{
    color: #fff;
    font-size: 30px;
}

@media (max-width:999px) {
    
    .textSobre{
        width:100%;
    }
    .card{
        max-width: 150px;
    }
    
}

